*{
    margin: 0; /*cancels out browser-default margins*/
    padding: 0;
    box-sizing: border-box; /*border-box include any padding into the element's content*/   
    /*cursor: url(img/cursor.png) 64 64, auto;*/
}
#header{
    position: fixed;
    padding-left: 5%;
    padding-right: 8%;
    width: 100%;
    height: 110px;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 999;
    display: flex;
    flex-direction: row;
    background-size: 100% 110px;
    background-image: linear-gradient(to bottom, 
        rgba(255, 255, 25),
        rgba(195,195,195) 15%, 
        rgba(220, 220, 220) 35%,
        rgba(255,255,255, 0%) 90%);
    justify-content: space-between;
}
#header a{
    text-decoration: none;
}
.headerbackground{
    padding-left: 0rem;
    position: fixed;
    box-shadow: 0 20 10px 10px rgb(255, 255, 255);
}
.headertext{
    font-family: arialnarrow;
    font-size: 1.2rem;
    letter-spacing: -0.05px;
    z-index: 50;
    margin-left: 2rem;
}
.headercss{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.headercss:hover{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

body{
    background-image: url("img/background.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    /*cursor: url(img/cursor.png) 36 36, auto;*/
}
html{
    font-size: 20px; /*https://www.cnblogs.com/shireyhu/p/7832124.html*/
}

@font-face {
    font-family: mplus;
    font-style: normal;
    src: url(fonts/mplus-1m-light.ttf);
}
@font-face {
    font-family: arialnarrow;
    font-style: normal;
    src: url(fonts/Arial Narrow.ttf);
}
p{
    font-family: mplus;
    font-style: normal;
    margin-top: 0.6rem;
    margin-bottom: 1.4rem;
    font-size: 0.8rem;
    line-height: 1.16rem;
    letter-spacing: -0.45px;
}

/*.about-content{
    display: none;
    position: fixed;
    
}
.visible{
    display: block;

}*/